rakam-presto/.test/
.test/
plugins/*
_ui/*
data/*

.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
lib/*

.gradle/
build/
target/

mods/
=======
*.class
*.log

# sbt specific
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

rakam-ui/src/main/resources/rakam-ui-master
git.properties
.DS_Store
dependency-reduced-pom.xml