rakam-ui/
plugins/*

.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
lib/*

.gradle/
build/
target/

mods/
=======
*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

rakam-ui/.bowerrc
